/*Start Global Style*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #e9ebee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    height: 100%;
    
}

.login,
.register {
    width: 50%
}

/*Start Login Style*/
.login {
    float: left;
    background-color: #f5f3f3;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding-top: 100px;
    border: 0.5px solid rgb(190, 190, 190);
}

.login h1 {
    margin-bottom: 40px;
    font-size: 2.5em;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
}

input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.login span {
    float: left
}

.login a {
    float: right;
    text-decoration: none;
    color: #000;
    transition: 0.3s all ease-in-out;
}

.login a:hover {
    color: #9526a9;
    font-weight: bold
}

.login button {
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    border: none;
    background-color: #187d0b;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border-radius: 4px;
}

.login button:hover {
    width: 100%;
    font-size: 22px;
    border-radius: 5px;

}

.login hr {
    width: 20%;
    display: inline-block
}

.login p {
    display: inline-block;
    margin: 0px 10px 30px;
}

.login ul {
    list-style: none;
    margin-bottom: 40px;
}

.login ul li {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}

.login ul li:hover {
    opacity: 0.6
}

.login ul li:last-child {
    margin-right: 0
}

.login .copyright {
    display: inline-block;
    float: none;
}

/*Start Register Style*/
.register {
    float: right;
    background-image: linear-gradient(135deg, #195f0e 5%, #145c30 95%);
    height: 598px;
    color: #fff;
    border-radius: 0 10px 10px 0;
    text-align: center;
    padding: 100px 0;
}

.register h2 {
    margin: 30px 50px;
    font-size: 50px;
    letter-spacing: 3px
}

.register p {
    font-size: 18px;
    margin-bottom: 30px;
}

.register button {
    width: 100%;
    margin: 20px 0;
        padding: 10px;
        border: none;
        background-color: #fff;
        color: black;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        border-radius: 4px;
}

.register button:hover {
    color: #57b357;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
    border-radius: 5px;
    border: none;
}